body{
    background-color: rgb(75 74 75);
    font-family: 'Inter', sans-serif;
}

p{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.main{
    width: 100%;
    max-width: 1100px;
    height: 1500px;
    margin-left: 150px;
    margin-right: 150px;

}
.nav-bar{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 1100px;
    height: 43px;
    left: 175px;
    top: 10px;
    padding-left: 50px;
}
.VE{
    position: absolute;
    width: 60.71px;
    height: 64.72px;
    left: 74.2px;
    top: 2.74px;
}
.CA{
    position: absolute;
    left: 235px;
    border: none;
    background-color: #4A4A4A;
    color: white;
    font-size: 16px;
}
.aw_1{
    position: absolute;
    width: 10px;
    height: 15px;
    left: 315.99px;
    top: 31.73px;
    transform: rotate(90deg);
}
.arrow1{
    position: absolute;
    width: 0.95px;
    height: 3.73px;
    top: 2px;
    background-color: white;
    transform: rotate(45deg);
}
.arrow2{
    position: absolute;
    width: 0.95px;
    height: 3.73px;
    background-color: white;
    transform: rotate(-45deg);
}
.nav_margin{
    margin-left: 50px;
}
.lang{
    margin-left: 100px;
    border: none;
    color: white;
    background-color: #4A4A4A;
    font-size: 16px;
}

.aw_2{
    position: absolute;
    width: 10px;
    height: 15px;
    left: 870.99px;
    top: 31.73px;
    transform: rotate(90deg);
}
.arrow_1{
    position: absolute;
    width: 0.95px;
    height: 3.73px;
    top: 2px;
    background-color: white;
    transform: rotate(45deg);
}
.arrow_2{
    position: absolute;
    width: 0.95px;
    height: 3.73px;
    background-color: white;
    transform: rotate(-45deg);
}
.button_enter{
    position: absolute;
    width: 100.67px;
    height: 40.12px;
    left: 910.96px;
    top: 11.31px;
}
.enter{
    position: absolute;
    left: 27px;
    top: 13px;
    font-size: 17px;
    line-height: 15px;
    color: #000000;
}
.rectangle{
    width: 100.67px;
    height: 40.12px;
    background: white;
    border-radius: 23px;
}
.search{
    position: absolute;
    top: 23px;
    left: 1030px;
    width: 20px;
    height: 20px;
}
.lupa{
    width: 20px;
    height: 20px;
}



.info{
    position: absolute;
    top: 75px;
    left: 215px;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.bk{
    margin-bottom: 5px;
    margin-top: 10px;
}
.border{
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 20px;
}



.social{
    display: flex;
    position: absolute;
    top: 30px;
    left: 280px;
}
.iftt{
    margin-left: 25px;
}



.bakery_photo{
    margin-top: 170px;
    margin-left: 35px;
}
.arrow_round{
    position: absolute;
    top: 10px;
    left: 20px;
}
.arrow_down1{
    position: absolute;
    bottom: 23px;
    left: 17px;
}
.arrow_round2{
    position: absolute;
    top: 10px;
    left: 455px;
}
.arrow_round_main{
    position: absolute;
    top: 310px;
    left: 180px;
}
.five_round{
    position: absolute;
    left: 425px;
    top: 500px;
}



.save_button{
    position: absolute;
    top: 177px;
    left: 800px;
}
.save{
    position: absolute;
    left: 20px;
    top: 17px;
    
}
.shop_button{
    position: absolute;
    top: 177px;
    left: 900px;
}
.big_shop_round{
    width: 170px;
    height: 170px;
    position: absolute;
}
.cart{
    position: absolute;
    top: 40px;
    left: 35px;
}
.map_button{
    position: absolute;
    top: 278px;
    left: 800px;
}
.map_1{
    position: absolute;
    top: 22px;
    left: 27px;
}
.map_2{
    position: absolute;
    top: 15px;
    left: 20px;
}
.award_button{
    position: absolute;
    top: 177px;
    left: 1104px;
}
.award_1{
    position: absolute;
    top: 42px;
    left: 25px;
}
.award_2{
    position: absolute;
    top: 16px;
    left: 22px;
}
.menu_button{
    position: absolute;
    top: 278px;
    left: 1104px;
}
.menu{
    position: absolute;
    top: 20px;
    left: 17px;
}



.time{
    position: absolute;
    top: 400px;
    left: 820px;
}
.time_list{
    position: absolute;
}
.clock{
    position: absolute;
    left: -6px;
    top: -20px;

}
.clock_arrow{
    position: absolute;
    top: 7px;
    left: 18px;
}
.time_text{
    position: absolute;
    top: -15px;
    left: 55px;
    width: 250px;
    color: #D9D9D9;
    font-size: 25px;
}
.aw_3{
    position: absolute;
    width: 30px;
    height: 35px;
    left: 294px;
    top: -5px;
    transform: rotate(90deg);
}
.arrow_3{
    position: absolute;
    width: 2px;
    height: 10px;
    top: 6px;
    background-color: #D9D9D9;
    transform: rotate(45deg);
}
.arrow_4{
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #D9D9D9;
    transform: rotate(-45deg);
}



.open_now{
    position: absolute;
    top: 5px;
    left: 100px;
}
.door{
    position: absolute;
    top: 20px;
    left: 20px;
}
.door_handle{
    position: absolute;
    top: 11px;
    left: 9px;
}
.open_now_text{
    position: absolute;
    top: 21px;
    left: 50px;
    width: 100px;
    color: #D9D9D9;
}
.mark{
    position: absolute;
    top: 70px;
    left: 90px;
}
.star{
    position: absolute;
    top: 13px;
    left: 13px;
}
.mark_text{
    position: absolute;
    top: 11px;
    left: 60px;
    width: 50px;
    font-size: 35px;
    color: #4A4A4A;
}
.description{
    position: absolute;
    top: 550px;
    left: 190px;
}
.description_text{
    position: absolute;
    left: 10px;
    color: #D9D9D9;
    font-size: 40px;
}
.discription_line{
    position: absolute;
    top: 75px;
    left: 20px;
}
.big_discription_text{
    position: absolute;
    width: 1000px;
    height: 220px;
    left: 20px;
    top: 100px;
    font-size: 30px;
    color: white;
}



.main_comment{
    position: absolute;
    top: 850px;
    left: 190px;
}
.comment_text{
    position: absolute;
    left: 10px;
    font-size: 60px;
    color: #D9D9D9;
}
.comment_line{
    position: absolute;
    top: 105px;
    left: 25px;
}
.plus_comment{
    position: absolute;
    top: 55px;
    left: 500px;
}
.plus_comment_line{
    width: 40px;
    height: 40px;
}
.horisontal_line{
    border-top: 5px solid #4A4A4A;
    border-radius: 10px;
    position: absolute;
    top: 32px;
    left: 18px;
    width: 32px;
}
.vertical_line{
    border-top: 5px solid #4A4A4A;
    border-radius: 10px;
    position: absolute;
    top: 32px;
    left: 18px;
    width: 32px;
    transform: rotate(90deg);
}
.view_all{
    position: absolute;
    background-color: #4A4A4A;
    width: 60px;
    top: 95px;
    left: 1000px;
    font-size: 12px;
    color: #D9D9D9;
    border: none;
}



.comments{
    position: absolute;
    top: 1000px;
    left: 190px;
}
.yaroslaw_img{
    position: absolute;
    top: 20px;
    left: 15px;
}
.nikname{
    position: absolute;
    top: 18px;
    left: 90px;
    width: 250px;
    font-size: 20px;
    color: #D9D9D9;
}
.number_of_comment{
    position: absolute;
    top: 55px;
    left: 95px;
    width: 150px;
    font-size: 12px;
    color: #D9D9D9;
}
.mark_comment{
    position: absolute;
    top: 20px;
    left: 350px;
    width: 90px;
    height: 40px;
}
.mark_img_comment{
    width: 90px;
    height: 40px;
}
.star_comment{
    position: absolute;
    top: 9px;
    left: 10px;
    width: 22px;
    height: 22px;
}
.mark_text_comment{
    position: absolute;
    top: 8px;
    left: 40px;
    width: 50px;
    font-size: 22px;
    color: #4A4A4A;
}
.subtext_comment{
    position: absolute;
    top: 100px;
    left: 15px;
    width: 1000px;
    font-size: 20px;
    color: white;
}
.comments_2{
    position: absolute;
    top: 1350px;
    left: 190px;
}
.comments_3{
    position: absolute;
    top: 1700px;
    left: 190px;
}



.footer{
    position: absolute;
    top: 2100px;
    left: 200px;
}
.footer_gray{
    width: 1000px;
}
.footer_black{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 1000px;
}
.VE_footer_logo{
    position: absolute;
    top: 5px;
    left: 0px;
}
.footer_text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 17px;
    color: white;
    width: 500px;
    height: 100px;
    margin-left: 50px;
}
.footer_inst{
    position: absolute;
    top: 130px;
    left: 440px;
}
.footer_teleg{
    position: absolute;
    top: 130px;
    left: 510px;
}
.add_place{
    position: absolute;
    top: 20px;
    left: 800px;
}
.add_place_text{
    position: absolute;
    top: 10px;
    left: 30px;
    color: #4A4A4A;
    font-size: 24px;
}
.download{
    position: absolute;
    top: 85px;
    left: 817px;
    color: white;
}
.google_play{
    position: absolute;
    top: 125px;
    left: 840px;
}
.apple{
    position: absolute;
    top: 120px;
    left: 905px;
}
.footer_end_text{
    position: absolute;
    top: 210px;
    left: 200px;
    color: white;
}
.footer_end_text_year{
    position: absolute;
    top: 235px;
    left: 470px;
    color: white;
}