body{
    width: auto;
    height: 1020px;
    background: #292B2E;
    font-family: 'Nunito', sans-serif;
}
.header{
    width: 1157px;
    margin-left: 160px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #FFFFFF80;
}
.nav_bar{
    margin-top: 23px;
    display: flex;
    align-items: center;
}
.VE_logo{
    width: 80px;
    height: 80px;
}
.city_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    font-size: 24px;
    color: white;
}
.arrow_1{
    margin-left: 15px;
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid white;
}
.widdgets{
    display: flex;
    margin-left: 210px;
    font-size: 24px;
    color: lightgray;
}
.widdgets_margin{
    margin-right: 30px;
}
.dot{
    margin-top: 15px;
    margin-right: 30px;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50px;
}
.languages{
    margin-left: 100px;
    display: flex;
    font-size: 20px;
    color: white;
    width: 60px;
}
.languages_text{
    margin-left: 15px;
}
.arrow_2{
    margin-top: 8px;
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid white;
}
.bi_cart{
    margin-left: 55px;
}
.photo{
    margin-left: 53px;
}
.photo_yar{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}
.border{
    border: 1px solid #FFFFFF15;
    position: absolute;
    top: 116px;
    width: 1430px;
}
.username{
    font-size: 48px;
    color: white;
}
.edit{
    font-size: 48px;
    color: white;
    position: relative;
    left: 570px;
    bottom: 97px;
    width: 100px;
}
.photo_and_address{
    width: 280px;
    height: 450px;
    position: relative;
    bottom: 95px;
}
.redaktor_photo{
    width: 280px;
    height: 280px;
}
.round_pencil{
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    bottom: 170px;
    left: 115px;
}
.pencil{
    position: relative;
    top: 13px;
    left: 14px;
}
.edit_address{
    color: #D4D4D5;
    font-size: 24px;
}
.address{
    display: flex;
    margin-bottom: 16px;
    height: 36px;
}
.address_1{
    display: flex;
    height: 36px;
}
.input_city{
    background-color: #292B2E;
    border: none;
    width: 100px;
    font-size: 20px;
    margin-right: 24px;
    color: #D4D4D5;
    border-bottom: 1px solid #D4D4D5;
    padding-bottom: 10px;
}
.input_city::placeholder{
    color: #D4D4D5;
}
.input_street{
    background-color: #292B2E;
    border: none;
    width: 150px;
    font-size: 20px;
    color: #D4D4D5;
    border-bottom: 1px solid #D4D4D5;
    padding-bottom: 10px;
}
.input_street::placeholder{
    color: #D4D4D5;
}
.input_house{
    background-color: #292B2E;
    border: none;
    width: 77px;
    font-size: 20px;
    margin-right: 16px;
    color: #D4D4D5;
    border-bottom: 1px solid #D4D4D5;
    padding-bottom: 10px;
}
.input_house::placeholder{
    color: #D4D4D5;
}
.input_apartment{
    background-color: #292B2E;
    border: none;
    width: 187px;
    font-size: 16px;
    color: #D4D4D5;
    border-bottom: 1px solid #D4D4D5;
    padding-bottom: 10px;
}
.input_apartment::placeholder{
    color: #D4D4D5;
}
input{
    outline: none;
}
.edit_account{
    display: flex;
    flex-direction: column;
    width: 483px;
    height: 400px;
    position: absolute;
    top: 280px;
    left: 740px;
}
.account_settings{
    width: 483px;
    height: 242px;
}
.change_settings{
    width: 483px;
    margin-bottom: 24px;
    background-color: #292B2E;
    border: none;
    border-bottom: 1px solid #D4D4D5;
    font-size: 20px;
    padding: 1px 2px 10px 20px ;
    color: #D4D4D5;
}
.change_settings::placeholder{
    color: #D4D4D5;
}.a_accept{
    color: black;
}
.accept{
    background-color: white;
    width: 80px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
}
.delete{
    position: absolute;
    top: 664px;
    left: 1160px;
    color: #E32A33;
    text-decoration: underline 0.5px;
    font-size: 20px;
    width: 133px;
}
.footer{
    background: #131620;
    width: 1440px;
    height: 306px;
    position: relative;
    right: 8px;
    bottom: 36px;
}
.footer_bar{
    position: relative;
    top: 32px;
    margin-left: 160px;
    display: flex;
    align-items: center;
}
.telegram{
    margin-left: 42px;
}
.instagram{
    margin-left: 64px;
}
.footer_widdgets{
    margin-left: 242px;
    font-size: 24px;
}
.footer_widdgets_margin{
    margin-left: 32px;
    color: white;
}
.about_us{
    color: white;
}
.gmail_and_store{
    position: relative;
    top: 50px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gmail{
    display: flex;
    align-items: center;
}
.gmail_photo{
    margin-right: 34px;
}
.gmail_text{
    color: white;
    font-size: 24px;
}
.store{
    margin-left: 110px;
    display: flex;
    flex-direction: row;
}
.add_place{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #38405F;
    width: 180px;
    height: 56px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
}
.gplay_astore{
    margin-left: 20px;
}
.footer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 95px;
    color: white;
}
.first_footer_text{
    font-size: 16px;
    margin-bottom: 8px;
}
.second_footer_text{
    font-size: 18px;
}